[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standar"], version = "*"}
pymongo = "*"
python-multipart = "*"
pillow = "*"
aiofiles = "*"
passlib = "*"
pyjwt = "*"
bcrypt = "*"
fastapi-jwt-auth = "*"
pydantic = {extras = ["email"], version = "*"}
python-dotenv = "*"
fastapi-mail = "*"
jinja2 = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
